<div class="hero">
    <h1>Save any kind of movies</h1>    
</div>

<div class="container">
    <div class="cards-grid mt-2">
    <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
            <div class="card" style="width: 18rem;">
                <% if list.image.attached? %>
                    <%= image_tag list.image, class: "card-img", alt: list.name %>
                <% end %>
                <div class="card-image-overlay">
                    <h2 class="card-title text-stroke-black"><%= list.name %></h2>
                </div>
            </div>
        <% end %>
    <% end %>
    </div>
    <div class="text-center mt-3">
        <%= link_to "New List", new_list_path, class: "btn btn-success rounded-4" %>
    </div>
</div>